@charset "UTF-8";

/* CSS style for SliTaz GNU/Linux Web Home */

* {outline-width:0;}
html {background:#000;overflow-x:hidden;}
body {background:url(bg/bg0.jpg) 50% 50% no-repeat;background-size:cover;color:#303030;font:normal normal 12px sans-serif, vernada, arial;padding-bottom:5%;margin:0 auto;}
/*html,body {min-width:460px;}*/

a,a:active,a:link,a:visited {color:#FA7701;text-decoration:none;
	-webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
a:focus,a:hover {color:#E45800;}
h1,h2,h3,h4,h5,h6,p,ol,ul,li,form,input,table * {padding:12px;margin:0 auto;}

/* @header : section's */
header {background:RGBA(0,0,0,.7);padding:2% 1%;}
header::after {display:block;content:"";width:100%;height:1px;clear:both;}
header h1 {float:left;background:url(img/slitaz.png) 5% 50% no-repeat;color:#FFF;font-size:105%;text-indent:30px;margin:1% 0; border:2px solid RGBA(255,255,255,.2);border-radius:4px;}

/* @network : pages */
#network {float:right;text-align:center;width:560px;padding:2% 0;}
#network a {display: inline-block;color:#CCC;font-weight:bold;padding:8px;border-radius:2px;}
#network a:hover {background:#C64F00;color:#FFF;}
#network span {display:none;}
.hidden {display:none!important;}
.hidden+span {display:inline!important;}

/* @content */
#content {padding:2% 0 5% 0;}

/* @form : input's */
 form {padding:0;margin:0;}
.searchbox {background:#FFF;background:RGBA(255,255,255,.2);text-align:center;width:70%;padding:4%;margin:4% auto;border:1px solid #FFF;border:1px solid RGBA(255,255,255,.3);border-radius:8px;}
.searchbox small.title {display:table;background:#000;color:#FFF;font-size:11px;font-weight:bold;padding:1.3% 2%;margin:0 auto;border-radius:4px;}
.searchbox input {display:inline-block;font-family:"monospace", monospace;font-size:15px;line-height:23px;margin:0 auto;border-width:0;}
.searchbox input[type="text"]{background:#F4F4F4;width:60%;margin-right:-4px;}
.searchbox input[type="submit"]{cursor:pointer;background:#C74F0E;color:#FFF;min-width:20%;padding-left:1%;padding-right:1%;}
.searchbox input[type="submit"]:focus,.searchbox input[type="submit"]:hover {background:#FF6513;}

/* @social : links */
#social {display:table;background:RGBA(34,34,34,0.95);color:#FFF;text-align:center;line-height:30px;width:70%;padding:1%;margin:0 auto;border-radius:4px;}
#social * {vertical-align:middle;}
#social a {display:inline-table;color:#FA7900;margin:0 0.5%;padding:2px 8px;border-radius:4px;}
#social a:focus,#social a:hover {background:#000;color:#FFF;}

/* @support */
.support {background:#FFF;color:#000;width:60%;padding:1%;margin:1% auto;border-radius:4px;font-size:10px;}
.support::before {color:#F00; content: '♥'; font-size: 14px;}

/* @extra */
.copyright {display:block;color:#FFF;text-align:center;text-transform:uppercase;padding:0;}

/* @responsive */

@media screen and (max-width:860px){
body {font-size:10px;}
header {text-align: center;}
header h1, #network {display: inline-block; margin: 0 auto; float:none;}
#social,#network {width:100%;font-size:11px;padding:1% 0;}
.searchbox input {font-size:12px;font-weight:bold;font-family:"sans";}

/* International language setting. */
.searchbox input.search-text-fr {width:55%;}
.searchbox input.search-submit-fr {width:35%;}
}
