body { font: 13px sans-serif, vernada, arial; margin: 0; 
	border-top: 34px solid #f1f1f1; }
#header { 
	background: #351a0a url(pics/header-img.png) no-repeat top right;
	color: black; height: 42px; 
	border-top: 1px solid black; 
	border-bottom: 1px solid black;
}
#content { margin: 0px 18% 26px 18%; }
.searchbox { 
	margin: 40px 0; 
	padding: 12px; 
	background: #f8f8f8;
	text-align: center;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
a:hover { text-decoration: none; color: #000; }
h1 { margin: 6px 20px; color: #fff; }
p, a { color: #666; }
p img { vertical-align: middle; padding-right: 4px; }
input[type=submit] {
	border: 1px solid #b64b22;
	background-color: #b64b22;
	color: white;
	font-weight: bold;
	cursor: pointer;
	padding: 4px 10px;
	font-size: 14px;
	margin-left: -5px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
input[type=submit]:hover { background-color: #a3431f; }
input[type=text] {
	border: 1px solid #333333;
	padding: 4px;
	height: 17px;
	width: 100%;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
