[Desktop Entry]
Type=Application
Name=SHell profile
Name[fr]=Profile du SHell
Name[ru]=Профиль входа в shell
Icon=xterm
Exec=edit-dot-profile
Categories=Settings;DesktopSettings;
