[Desktop Entry]
Type=Application
Name=X defaults behavior
Name[fr]=Configuration X par défaut
Name[pt]=Padrões do ambiente gráfico
Name[pt_BR]=Padrões do ambiente gráfico
Name[ru]=Настройки X.Org по умолчанию
Exec=edit-dot-xdefaults
Icon=gtk-yes
Categories=Settings;DesktopSettings;
