[Desktop Entry]
Type=Application
Name=X defaults behavior
Name[ru]=Настройки X.Org по умолчанию
Exec=edit-dot-xdefaults
Icon=gtk-yes
Categories=Settings;DesktopSettings;
